torch
numpy
pydicom
PILlow
matplotlib
monai[einops,itk,nibabel]>=1.5.0
napari[pyqt6,optional]
git+https://github.com/timojl/clipseg.git
# transformers
# git+https://github.com/bowang-lab/MedSAM2.git
# open-clip-torch