torch>=1.12.1
torchvision
numpy
pydicom
PILlow
matplotlib
transformers>=4.20.0
# git+https://github.com/bowang-lab/MedSAM2.git
open-clip-torch
monai[einops,nibabel]>=1.1.0
napari[pyqt6,optional]==0.6.2a1